<famous:view id="ad-container">

    <famous:view id="meet-text-container">
        <famous:html-element id="meet-text">
            <p> Meet the family. </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="bottom-bar-container">
        <famous:view id="fitbit-logo-container">
            <famous:html-element id="fitbit-logo">
                <img src="">
            <famous:html-element>
        <famous:view>
        <famous:view id="shop-now-container">
            <famous:html-element id="shop-now">
                <p> SHOP NOW </p>
            <famous:html-element>
        <famous:view>
    <famous:view>

    <famous:view id="charge-img-container">
        <famous:html-element id="charge-img">
            <img src=""/>
        </famous:html-element>
    </famous:view>

    <famous:view id="charge-label-container">
        <famous:html-element id="charge-label">
            <p> charge </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="flex-img-container">
        <famous:html-element id="flex-img">
            <img src=""/>
        </famous:html-element>
    </famous:view>

    <famous:view id="flex-label-container">
        <famous:html-element id="flex-label">
            <p> flex </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="one-img-container">
        <famous:html-element id="one-img">
            <img src=""/>
        </famous:html-element>
    </famous:view>

    <famous:view id="one-label-container">
        <famous:html-element id="one-label">
            <p> one </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="zip-img-container">
        <famous:html-element id="zip-img">
            <img src=""/>
        </famous:html-element>
    </famous:view>

    <famous:view id="zip-label-container">
        <famous:html-element id="zip-label">
            <p> zip </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="find-text-container">
        <famous:html-element id="find-text">
            <p> findyourfit </p>
        </famous:html-element>
    </famous:view>

</famous:view>
