<famous:view id="ad-container">

    <famous:html-element id="container-background" famous:events:mousemove="handle-exit-hover">
    </famous:html-element>

    <famous:view id="meet-family-container">
        <famous:html-element id="meet-family">
            <p> Meet the family. </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="bottom-bar-container">
        <famous:html-element id="bottom-bar-background">
        </famous:html-element>

        <famous:view id="fitbit-logo-container">
            <famous:html-element id="fitbit-logo">
                <img src="assets/fitbit/fitbit-fs8.png"/>
            </famous:html-element>
        </famous:view>

        <famous:view id="shop-now-container">
            <famous:html-element id="shop-now">
                <p> SHOP NOW </p>
            </famous:html-element>
        </famous:view>
    </famous:view>

    <famous:view id="charge-img-container">
        <famous:html-element id="charge-img" famous:events:mousemove="handle-charge-hover">
            <img src="assets/fitbit/blue.png"/>
        </famous:html-element>
    </famous:view>

    <famous:view id="charge-label-container">
        <famous:html-element id="charge-label">
            <p> charge </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="flex-img-container">
        <famous:html-element id="flex-img" famous:events:mousemove="handle-flex-hover">
            <img src="assets/fitbit/orange.png"/>
        </famous:html-element>
    </famous:view>

    <famous:view id="flex-label-container">
        <famous:html-element id="flex-label">
            <p> flex </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="one-img-container">
        <famous:html-element id="one-img" famous:events:mousemove="handle-one-hover">
            <img src="assets/fitbit/black.png"/>
        </famous:html-element>
    </famous:view>

    <famous:view id="one-label-container">
        <famous:html-element id="one-label">
            <p> one </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="zip-img-container">
        <famous:html-element id="zip-img" famous:events:mousemove="handle-zip-hover">
            <img src="assets/fitbit/green.png"/>
        </famous:html-element>
    </famous:view>

    <famous:view id="zip-label-container">
        <famous:html-element id="zip-label">
            <p> zip </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="find-fit-container">
        <famous:html-element id="find-fit">
            <p> findyourfit </p>
        </famous:html-element>
    </famous:view>

</famous:view>