<famous:view id="ad-container">

    <famous:ui-element id='meet-family-banner'>
        <p> Meet the family. </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ FIND FIT LABEL ~~~~~~~~~~~~~~-->
    <famous:ui-element id='find-fit'>
        <p> findyourfit </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ CHARGE ITEM ~~~~~~~~~~~~~~-->
    <famous:ui-element id='charge-item' famous:events:mousemove="handle-charge-hover">
        <img src="assets/fitbit/blue.png"/>
    </famous:ui-element>

    <famous:ui-element id='charge-label'>
        <p> charge </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ FLEX ITEM ~~~~~~~~~~~~~~-->
    <famous:ui-element id='flex-item' famous:events:mousemove="handle-flex-hover">
        <img src="assets/fitbit/orange.png"/>
    </famous:ui-element>

    <famous:ui-element id='flex-label'>
        <p> flex </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ ONE ITEM ~~~~~~~~~~~~~~-->
    <famous:ui-element id='one-item' famous:events:mousemove="handle-one-hover">
        <img src="assets/fitbit/black.png"/>
    </famous:ui-element>

    <famous:ui-element id='one-label'>
        <p> one </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ ZIP ITEM ~~~~~~~~~~~~~~-->
    <famous:ui-element id='zip-item' famous:events:mousemove="handle-zip-hover">
        <img src="assets/fitbit/green.png"/>
    </famous:ui-element>

    <famous:ui-element id='zip-label'>
        <p> zip </p>
    </famous:ui-element>

    <!--~~~~~~~~~~~~~~ BOTTOM BAR ~~~~~~~~~~~~~~-->
    <famous:view id="bottom-bar-container">
        <famous:html-element id="bottom-bar-background">
        </famous:html-element>

        <!--~~~~~~~~~~~~~~ LOGO ~~~~~~~~~~~~~~-->
        <famous:ui-element id='fitbit-logo'>
            <img src="assets/fitbit/fitbit-fs8.png"/>
        </famous:ui-element>

        <!--~~~~~~~~~~~~~~ SHOP NOW BUTTON ~~~~~~~~~~~~~~-->
        <famous:ui-element id='shop-now-button'>
            <p> SHOP NOW </p>
        </famous:ui-element>
    </famous:view>

    <famous:html-element id="container-background" famous:events:mousemove="handle-exit-hover">
    </famous:html-element>

</famous:view>