.DS_Store
*.log
node_modules
*.bundle.js
server/ecosystem/public/*
components/*
**/test/*
local/workspace/build/best.bundle.js
shared/builder/public/*
shared/builder/lib/esprima-helpers/tests/fixtures
shared/builder/tests/fixtures
