.DS_Store
*.log
node_modules
*.bundle.js
components/*
**/test/*
local/workspace/build/v1
shared/builder/lib/esprima-helpers/tests/fixtures
shared/builder/tests/fixtures
**/~bundles/**/*
**/~versions/**/*
local/workspace/build/*.bundle.js
