<famous:view id="flipper-root">

    <famous:view class="flipper-front">
        <famous:html-element class="front-surface button-surface" famous:events:click="flip-click">
        </famous:html-element>

        <famous:view class='front-label'>
            <famous:html-element class='front-label-surface button-surface'>
                <div class="btn-delete">Delete</div>
            </famous:html-element>
        </famous:view>
    </famous:view>

    <famous:view class="flipper-back">
        <famous:html-element class="back-surface button-surface" famous:events:click="flip-click">
        </famous:html-element>

        <famous:view class='back-label'>
            <famous:html-element class="back-label-surface button-surface" famous:events:click="flip-click">
                <p>Are you sure?</p>
                <button class="btn-yes">Yes</button>
                <button class="btn-no">No</button>
            </famous:html-element>
        </famous:view>
    </famous:view>

</famous:view>
