<jordan:header-footer id="header-footer">
    <famous:view id="header">
        <famous:html-element class="header">
            <h3>My Header</h3>
        </famous:html-element>
    </famous:view>
    <famous:view id="content">
        <famous:html-element class="content">
            <h3>My Content</h3>
        </famous:html-element>
    </famous:view>
    <famous:view id="footer">
        <famous:html-element class="footer">
            <h3>My Footer</h3>
        </famous:html-element>
    </famous:view>
</jordan:header-footer>
