<view id='container'>
    <header-footer id='hf'>
        <view id='header'>
            <dom-element id='header-el'>
            </dom-element>
        </view>

        <view id='body'>
            <two-panel-layout id='two-panel-layout'>
                <basic-scroll-view id='scroll-view' class='left-panel'></basic-scroll-view>
                <ui-element class='right-panel'></ui-element>
            </two-panel-layout>
            
        </view>

        <view id='footer'>
            <footer-bar id='footer-bar'>
            </footer-bar>
        </view>
    </header-footer>
</view>