<view id='container'>
    <arkady.pevzner:layouts:header-footer id='hf'>
        <view id='header'>
            <dom-element id='header-el'>
            </dom-element>
        </view>

        <view id='body'>
            <arkady.pevzner:layouts:basic-scroll-view id='sv'>
            </arkady.pevzner:layouts:basic-scroll-view>
        </view>

        <view id='footer'>
            <dom-element id='footer-el'>
            </dom-element>
        </view>
    </arkady.pevzner:layouts:header-footer>
</view>