<famous:view id="root">
    <famous:view class='label-view'><famous:html-element><p>Label 1</p></famous:html-element></famous:view>
    <famous-demos:clickable-square-with-label class='square'></famous-demos:clickable-square-with-label>
</famous:view>

<famous:view id="root2">
    <famous:view class='label-view'><famous:html-element><p>Label 2</p></famous:html-element></famous:view>
    <famous-demos:clickable-square-with-label class='square'>
        <famous:html-element id="label">
            <div>Yielded Label</div>
        </famous:html-element>
    </famous-demos:clickable-square-with-label>
</famous:view>
