.template-item {
    padding: 30px;
    border: 1px solid black;
    font-family: Monospace, Lato, Open Sans;
    text-align: justify;
}

.template-item-header {
    font-size: 30px;
}

.template-item p {
    font-size: 18px;
}

img {
    float: left;
    margin: 40px;
}