view#container

    view#toggle-button-bar
        ui-element.button#toggle-button
            div {{toggleText}}
        ui-element.button#add-button
            div Add
        ui-element.button#remove-button
            div Remove

    view#blocks-view
        ui-element.block