h1(style='color:white;') You should see squares rotating about their origin points correctly
node#container
    node#mount-point
    node#origin
    node#border

    node.block#top-left
        div top left
    node.block#top-mid
        div top mid
    node.block#top-right
        div top right

    node.block#mid-left
        div mid left
    node.block#mid-mid
        div mid mid
    node.block#mid-right
        div mid right

    node.block#bottom-left
        div bottom left
    node.block#bottom-mid
        div bottom mid
    node.block#bottom-right
        div bottom right
