<h1> You should see squares rotating about their origin points correctly </h1>

<node id="container">

    <node id="mount-point"></node>
    <node id="origin"></node>
    <node id="border"></node>


    <node id="top-left" class="block">
        <div> top left </div>
    </node>

    <node id="top-mid" class="block">
        <div> top mid </div>
    </node>

    <node id="top-right" class="block">
        <div> top left </div>
    </node>


    <node id="mid-left" class="block">
        <div> mid left </div>
    </node>

    <node id="mid-mid" class="block">
        <div> mid left </div>
    </node>

    <node id="mid-right" class="block">
        <div> mid right </div>
    </node>


    <node id="bottom-left" class="block">
        <div> bottom left </div>
    </node>

    <node id="bottom-mid" class="block">
        <div> bottom mid </div>
    </node>

    <node id="bottom-right" class="block">
        <div> bottom right </div>
    </node>

</node>