<h1 style="color:white;">You should see squares rotating about their mount points correctly</h1>
<view id='container'>
    <ui-element id='mount-point'>
    </ui-element>

    <ui-element id='origin'>
    </ui-element>

    <dom-element id='border'>
    </dom-element>

    <ui-element class='block' id='top-left'>
        <div>top left</div>
    </ui-element>
    <ui-element class='block' id='top-mid'>
        <div>top mid</div>
    </ui-element>
    <ui-element class='block' id='top-right'>
        <div>top right</div>
    </ui-element>

    <ui-element class='block' id='mid-left'>
        <div>mid left</div>
    </ui-element>
    <ui-element class='block' id='mid-mid'>
        <div>mid mid</div>
    </ui-element>
    <ui-element class='block' id='mid-right'>
        <div>mid right</div>
    </ui-element>

    <ui-element class='block' id='bottom-left'>
        <div>bottom left</div>
    </ui-element>
    <ui-element class='block' id='bottom-mid'>
        <div>bottom mid</div>
    </ui-element>
    <ui-element class='block' id='bottom-right'>
        <div>bottom right</div>
    </ui-element>

</view>