<famous:view id="foo">
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>do re mi</p>
        </famous:html-element>
    </famous:view>
    <famous-demos:circle class="circle"></famous-demos:circle>
</famous:view>
