<famous:view id="foo">
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>Element 1</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>Element 2</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>Element 3</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>Element 4</p>
        </famous:html-element>
    </famous:view>
    <famous:view class="square">
        <famous:html-element class="surface">
            <p>Element 5</p>
        </famous:html-element>
    </famous:view>

    <famous-demos:circle id="circle-component">
        <famous:view id='cirlce-label'>
            <famous:html-element class="circle-label-surface" famous:events:click="circle-click">
              <p>
                Element 6
                <br>
                <br>
                (click me)
              </p>
            </famous:html-element>
        </famous:view>
    </famous-demos:circle>

    <famous-demos:torus>
    </famous-demos:torus>

</famous:view>
