<dom-element id="background"></dom-element>

<view id="container">
    <ui-element class="sephora-container"></ui-element>
    <sprite id="bottle-label"></sprite>
    <sprite id="five-black"></sprite>
    <sprite id="five-color"></sprite>
    <sprite id="five-light"></sprite>
    <sprite id="getit"></sprite>
    <sprite id="letter-a"></sprite>
    <sprite id="letter-e"></sprite>
    <sprite id="letter-h"></sprite>
    <sprite id="letter-o"></sprite>
    <sprite id="letter-p"></sprite>
    <sprite id="letter-r"></sprite>
    <sprite id="letter-s"></sprite>
    <sprite id="light"></sprite>
</view>
