<node id="background"></node>
<node id="sephora-container">
    <node id='container-five'>
        <sprite id="five-black"></sprite>
        <sprite id="five-color"></sprite>
        <sprite id="five-light"></sprite>
        <sprite id="no"></sprite>
        <sprite id="light"></sprite>
        <mask id="intro1"></mask>
        <mask id="intro2"></mask>
        <mask id="intro3"></mask>
        <mask id="intro4"></mask>
        <mask id="intro5"></mask>
    </node>
<!--     <node id='container-bottle'>
        <sprite id="bottle"></sprite>
        <sprite id="bottle-label"></sprite>
    </node>
    <sprite id="getit"></sprite>
    <node id='container-letter'>
        <sprite id="letter-a"></sprite>
        <sprite id="letter-e"></sprite>
        <sprite id="letter-h"></sprite>
        <sprite id="letter-o"></sprite>
        <sprite id="letter-p"></sprite>
        <sprite id="letter-r"></sprite>
        <sprite id="letter-s"></sprite>
    </node> -->
</node>
