<dom-element id="background"></dom-element>

<view id="container">
    <ui-element class="sephora-container"></ui-element>
    <view id='container-five'>
        <creative:sephora:sprite id="five-black"></creative:sephora:sprite>
        <creative:sephora:sprite id="five-color"></creative:sephora:sprite>
        <creative:sephora:sprite id="five-light"></creative:sephora:sprite>
        <creative:sephora:sprite id="no"></creative:sephora:sprite>
        <creative:sephora:sprite id="light"></creative:sephora:sprite>
        <creative:sephora:mask id="intro1"></creative:sephora:mask>
        <creative:sephora:mask id="intro2"></creative:sephora:mask>
        <creative:sephora:mask id="intro3"></creative:sephora:mask>
        <creative:sephora:mask id="intro4"></creative:sephora:mask>
        <creative:sephora:mask id="intro5"></creative:sephora:mask>
    </view>
    <view id='container-bottle'>
        <creative:sephora:sprite id="bottle"></creative:sephora:sprite>
        <creative:sephora:sprite id="bottle-label"></creative:sephora:sprite>
    </view>
    <creative:sephora:sprite id="getit"></creative:sephora:sprite>
    <view id='container-letter'>
        <creative:sephora:sprite id="letter-a"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-e"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-h"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-o"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-p"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-r"></creative:sephora:sprite>
        <creative:sephora:sprite id="letter-s"></creative:sephora:sprite>
    </view>
</view>
