<famous:view id="part-one-container">

    <famous:view id="image-container">
        <famous:html-element id="image">
            <img src="assets/sap/img/bg1.jpg"/>
        </famous:html-element>
    </famous:view>

    <famous:view id="complexity-container">
        <famous:html-element id="complexity">
            <p> COMPLEXITY </p>
        </famous:html-element>
    </famous:view>

    <famous:view id="hopes-container">
        <famous:html-element id="hopes">
            <div>   HOPES YOU DIDN'T    </div>
            <div>   HAVE ANYTHING       </div>
            <div>   IMPORTANT PLANNED   </div>
            <div>   FOR THIS WEEKEND.   </div>
        </famous:html-element>
    </famous:view>

</famous:view>
