<famous:view id='appView'>

    <famous:view id='button1view'>
        <famous-demos:flipper-button id='button2'>
        </famous-demos:flipper-button>
    </famous:view>

    <famous:view id='button2view'>
        <famous-demos:flipper-button id='button2'>
            <!-- - - - -INJECTED CONTENT - - - -->
            <famous:html-element class='front-label myLabel'>
                <div>Submit</div>
            </famous:html-element>

            <famous:html-element class='back-label myLabel'>
                <div>Success</div>
            </famous:html-element>
            <!--- - - - - - - - - - - - - - - - -->
        </famous-demos:flipper-button>
    </famous:view>

</famous:view>
