view#container
    header-footer#hf
        view#header
            dom-element#header-el
        view#body
            three-panel-layout#three-panel-layout
                basic-scroll-view#scroll-view.panel-1
                template-scroll-layout#template-layout.panel-2
                attach-webgl.panel-3
        view#footer
            footer-bar#footer-bar
