node#container
    node#toggle-button-bar
        node.button#toggle-button
            div#toggle-text
        node.button#add-button
            div Add
        node.button#remove-button
            div Remove

    node#blocks-view
        node.block
