<node id='container'>
    <node id='label'>
        <h4>Pass through example</h4>
        <div>Public Messages are being directly passed through to child components without having to set up an indirect events --> behaviors pipeline.</div>
        <br>
        <div>Send messages to the subcomponents via: <br> FamousFramework.message('[[root selector]]', '$root', '[[event-name]]', '[[value]]');</div>
    </node>

    <node id='block-view'>
        <node id='one' class='block'>
            <div>Passthrough: <br> '*'</div>
        </node>
        
        <node id='two' class='block'>
            <div>Passthrough: <br> ['content', 'scale', 'style']</div>
        </node>

        <node id='three' class='block'>
            <div>Passthrough: <br> {'block-size' : 'size'}</div>
        </node>
    </node>

    <child-component id='child'></child-component>
</node>