<header-footer id="app">
    <node id="header" class="app-header">
        <node class="header-background"></node>
        <node class="header-left"></node>
        <node class="header-center"></node>
        <node class="header-right"></node>
    </node>

    <node id="body" class="app-body">
        <node class="body-background"></node>
        <tweet></tweet>
        <!--<notification class="notification"></notification>-->
        <!--<messages class="message"></messages>-->
        <!--<profile class="profile"></profile>-->
    </node>

    <node id="footer" class="app-footer">
        <node class="footer-background"></node>
        <node class="footer-link link-home"></node>
        <node class="footer-link link-notifications"></node>
        <node class="footer-link link-message"></node>
        <node class="footer-link link-profile"></node>
    </node>
</header-footer>
