<node id="container">
    <header-footer id="hf">
        <node id="header">
            <node class="header-background"></node>
            <node class="content-left"></node>
            <node class="content-center"></node>
            <node class="content-right"></node>
        </node>

        <node id="body">
            <node class="body-background"></node>

            <node class="home-view">
                <tweet class="tweet"></tweet>
            </node>

            <node class="notifications-view">
                <notification class="notification"></notification>
            </node>

            <node class="messages-view">
                <messages class="message"></messages>
            </node>

            <node class="profile-view">
                <profile class="profile"></profile>
            </node>
        </node>

        <node id="footer">
            <node class="footer-background"></node>

            <node class="footer-link link-home"></node>
            <node class="footer-link link-notifications"></node>
            <node class="footer-link link-message"></node>
            <node class="footer-link link-profile"></node>
        </node>
    </header-footer>
</node>
