<view id="container">
    <header-footer id="hf">
        <view id="header">
            <ui-element class="header-background"></ui-element>
            <ui-element class="content-left"></ui-element>
            <ui-element class="content-center"></ui-element>
            <ui-element class="content-right"></ui-element>
        </view>
        <view id="body">
            <ui-element class="body">
                <div>TWEETS GO HERE</div>
            </ui-element>
        </view>
        <view id="footer">
            <ui-element class="footer-link link-home"></ui-element>
            <ui-element class="footer-link link-notifications"></ui-element>
            <ui-element class="footer-link link-message"></ui-element>
            <ui-element class="footer-link link-profile"></ui-element>
        </view>
    </header-footer>
</view>