<view id='container'>
    <header-footer id='hf'>
        <view id='header'>
            <dom-element id='header-el'>
            </dom-element>
        </view>

        <view id='body'>
            <three-panel-layout id='three-panel-layout'>
                <basic-scroll-view id='scroll-view' class='panel-1'></basic-scroll-view>
                <template-scroll-layout id='template-layout' class='panel-2'></template-scroll-layout>
                <super.demo.day:attach-webgl class='panel-3'></super.demo.day:attach-webgl>>
            </three-panel-layout>
        </view>

        <view id='footer'>
            <footer-bar id='footer-bar'>
            </footer-bar>
        </view>
    </header-footer>
</view>